.blocker{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
	z-index:1;
	padding:20px;
	box-sizing:border-box;
	text-align:center;
}
.blocker:before{
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.05em
}
.blocker.behind{
	background-color:transparent;
}

.infomodal{
	font-size: 0.88em;
	display:none;
	vertical-align:middle;
	position:relative;
	z-index:2;
	box-sizing:border-box;
	width:680px;
	height: 250px;
	background:#fff;
	padding:15px;
	border-radius:8px;
	box-shadow:0 0 10px #000;	
}
#photoBox{
	width:130px;
	height:160px;
	display:inline-block;
	float:left;
	padding:0;
	margin-right: 10px;
	border-style: solid;
	//animation:pulsate 2s;
}

.col1,
.col2,
.col3,
.col4,
.col5{
	height : 165px;
	display: inline-block;
	padding:0;
	margin:0;
	float:left;
}

ul{
	margin:0;
	padding:0;
	margin-left:10px;
	text-align: left;
}
ul > li{
	list-style: none;
}

ul:not(:nth-child(3)) > li:not(:nth-child(1)){
	margin-bottom:6px;
}

.col1 input{
	width:70px;
}
.col2 input{
	width:107px;
}
.col3 input{
	width:80px;
}
.col4 input{
	width:100px;
}
.col5 input{
	width:80px;
}
.col1 input,
.col2 input,
.col3 input,
.col4 input,
.col5 input,{
	border-style: none;
	background-color: #b1e2ef;
}

.manage{
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	padding: 0;
	vertical-align: middle;
}

.manage > button{
	width: 85px;
	height: 30px;
	margin-left: 25px;
	margin-right: 25px;
	border-style: none;
	border-radius : 10px;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	outline: none;
	float: left;
}

.manage> button:focus{
	outline: none;
}

.dep > input{
	max-width:100px;
	height: 30px;
	margin-left: 10px;
	text-align:center;
	border: 1px solid;
	border-radius: 10px;
}

.dep > input:hover{
	text-decoration:underline;
}

@keyframes pulsate {
	0% { transform: scale(0) rotate(180deg) ; }
	40% { transform: scale(1.3) rotate(380deg); }
	55% { transform: scale(1) rotate(360deg); }
	100% { transform: scale(1) rotate(360deg); }
}
